.color-solido {

    width: 500px;
    height: 500px; 
}
.gradiente { 
    
    width: 800px;
    height: 400px;
    background-image: linear-gradient(
    90deg, yellow, green, blue, pink
)}

.bandera { 

    width: 800px;
    height: 800px;
    background-image: linear-gradient(to right,
     red 33%, white 33%, white 66.66%, red 66.66%); text-align: center }

.gradiente-circular {
     width: 400px;
     height:  400px;
     background: radial-gradient(circle,
         yellow, teal)}

         .another-one {

        width: 500px;
        height: 400px;
        background: radial-gradient(circle at top left, #333, #333 50%, #eee  75%, #333 75% );
         }


